# Telegram
TG_TOKEN=123456:ABCDEF

# VK
VK_TOKEN=abcde123456
VK_GROUP_ID=123456789
VK_CONFIRMATION=42

# Bridge mapping. Format: "TG_CHAT_ID:VK_USER_ID, ..."
CHAT_MAPPING=123456789:987654321
